<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/index.css">
    </head>
    <body>
        <h1>Mini Message Board</h1>
        <a href="/new">Add a message</a>
        <ul>
            <% messages.forEach(message => { %>
            <li>
                <p>
                    <strong><%= message.username %>:</strong>
                    <%= message.text %>
                </p>
                <p><%= new Date(message.added).toLocaleString("es-AR") %></p>
                <a href="/message/<%= message.id %>">Open</a>
                <a href="/delete/<%= message.id %>">Delete</a>
            </li>
            <% }); %>
        </ul>
    </body>
</html>